body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
#app {
  flex: 1 1 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
